<nav class="navbar navbar-expand navbar-light bg-success">
    <a href="/" class="navbar-brand"><img src="images/home/logo.png"></a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
        href="" data-toggle="dropdown">จัดการสินค้า</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/manage">เเก้ไขข้อมูล</a>
          <a class="dropdown-item" href="/add-product">เพิ่มข้อมูล</a>
        </div>
      </li>
    </ul>
</nav>